<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boao.study.mapper.TblGradeMapper" >
  <resultMap id="BaseResultMap" type="com.boao.study.model.TblGrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject, category
  </sql>
  
  <select id="countByCategory" resultType="int" >
  	select count(0)
  	from tbl_grade
  	<if test="category != null and category != ''">
  	where
  	category = #{category}
  	</if>
  </select>
  
  <select id="selectByCategory" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from tbl_grade
  	<if test="category != null and category != ''">
  	where
  	category = #{category}
  	</if>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_grade
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_grade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.boao.study.model.TblGrade" >
    insert into tbl_grade (id, subject, category
      )
    values (#{id,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boao.study.model.TblGrade" >
    insert into tbl_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boao.study.model.TblGrade" >
    update tbl_grade
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boao.study.model.TblGrade" >
    update tbl_grade
    set subject = #{subject,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>