<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boao.user.mapper.TblScoreRecordMapper" >
  <resultMap id="BaseResultMap" type="com.boao.user.model.TblScoreRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="variation" property="variation" jdbcType="INTEGER" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="current" property="current" jdbcType="INTEGER" />
    <result column="cause" property="cause" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, variation, change_time, current, cause
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_score_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_score_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boao.user.model.TblScoreRecord" >
    insert into tbl_score_record (id, user_id, variation, 
      change_time, current, cause
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{variation,jdbcType=INTEGER}, 
      #{changeTime,jdbcType=TIMESTAMP}, #{current,jdbcType=INTEGER}, #{cause,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boao.user.model.TblScoreRecord" >
    insert into tbl_score_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="variation != null" >
        variation,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="current != null" >
        current,
      </if>
      <if test="cause != null" >
        cause,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="variation != null" >
        #{variation,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="current != null" >
        #{current,jdbcType=INTEGER},
      </if>
      <if test="cause != null" >
        #{cause,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boao.user.model.TblScoreRecord" >
    update tbl_score_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="variation != null" >
        variation = #{variation,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="current != null" >
        current = #{current,jdbcType=INTEGER},
      </if>
      <if test="cause != null" >
        cause = #{cause,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boao.user.model.TblScoreRecord" >
    update tbl_score_record
    set user_id = #{userId,jdbcType=INTEGER},
      variation = #{variation,jdbcType=INTEGER},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      current = #{current,jdbcType=INTEGER},
      cause = #{cause,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>